.d>fieldset{
padding: 3% 11% 5% 11%;
border: 1px solid black; 
margin: 5% 24%;
color: white;
background-color: tomato;

}
legend{
    border: white;
}
.d{
    background-image: linear-gradient(45deg, red, blue);
}
h1{
    text-align: center;
background-color: rgb(60, 247, 200);

padding-bottom: 20px;
padding-top: 20px;}

.g>fieldset{
    padding: 3% 3% 5% 5%;
    border: 1px solid black; 
    margin: 5% 24%;
    color: white;
    background-color: tomato;
    line-height: 2em;
    
    }
    legend{
        border: white;
    }
    .d{
        background-image: linear-gradient(45deg, red, blue);
    }
    h1{
        text-align: center;
    background-color: rgb(60, 247, 200);
    
    padding-bottom: 20px;
    padding-top: 20px;}